<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.mapper.MarketGroupDetailMapper">

    <resultMap id="marketGroupDetailMapper" type="com.sf.entity.MarketGroupDetailVo">
        <result column="groupId" property="groupId"/>
        <result column="groupName" property="groupName"/>
		
		<result column="btm" property="groupStartDate"/>
		<result column="etm" property="groupEndDate"/>
		
		<result column="status" property="status"/>
		<result column="marketId" property="marketId"/>
		<result column="marketName" property="marketName"/>
		
		<result column="min_pkgs" property="minPackages"/>
		<result column="min_weight" property="minWeight"/>
		<result column="max_weight" property="maxWeight"/>
		<result column="base_price" property="basePrice"/>
		
		<result column="base_weight" property="baseWeight"/>
		<result column="group_limit" property="groupLimit"/>
		<collection property="userIdList" ofType="java.lang.String">
			<result column="user_id" />
		</collection>
		
    </resultMap>
    <select id="getMarketGroupDetailByGroupId" resultMap="marketGroupDetailMapper">
    	SELECT 
			gr.id AS groupId,
			gr.gname AS groupName,
			gr.btm,
			gr.etm,
			gr.status,
			pmb.m_id AS marketId,
			pmb.m_name AS marketName,
			pmb.min_pkgs,
			pmb.min_weight,
			pmb.max_weight,
			pmb.base_price,
			pmb.base_weight,
			pmb.group_limit,
			gu.user_id
		FROM groupx gr
		JOIN pro_market_base pmb ON gr.market_id = pmb.m_id
		JOIN group_user gu ON gr.id = gu.group_id
		WHERE gr.id = #{groupId}  
    </select>
    <update id="updateEndingMarket" parameterType="com.sf.entity.GroupxModel">
    	UPDATE groupx a SET a.status=2, a.real_etm=CURRENT_TIMESTAMP WHERE a.status!=2 AND a.etm &lt; CURRENT_TIMESTAMP;
    </update>
    
    <insert id="newMarket">
	    INSERT INTO `groupx` (`market_id`,`gname`,`btm`,`etm`,`status`)
		SELECT a.`market_id`,CONCAT(a.gname,a.dateSeri,a.flowId),
			a.`btm`,a.etm,a.status
		FROM (
			SELECT a.`m_id` AS `market_id`,
			a.`m_name` AS `gname`,
			DATE_FORMAT(CURRENT_TIMESTAMP, '%m%d') AS dateSeri,
			(
				SELECT LPAD(COUNT(*)+1,3,0) FROM groupx xx WHERE 1=1 
					AND xx.btm &gt;=CONCAT(DATE_FORMAT(CURRENT_TIMESTAMP, '%Y-%m-%d'),' 00:00:00')
					AND xx.btm &lt; CONCAT(DATE_FORMAT(DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 1 DAY), '%Y-%m-%d'),' 00:00:00')
					AND xx.`market_id`= a.`m_id`
			) AS flowId
			,CURRENT_TIMESTAMP AS `btm`
			,DATE_ADD(CURRENT_TIMESTAMP, INTERVAL a.group_duration MINUTE) AS `etm`,1 AS `status`
			FROM pro_market_base a LEFT JOIN (
				SELECT * FROM groupx b 
				WHERE b.`status`!=2
			) b ON a.`m_id`=b.`market_id`
			 WHERE (b.`etm` &lt; CURRENT_TIMESTAMP OR b.`market_id` IS NULL)
		) a
    </insert>
</mapper>